
*.pgn

.ipynb_checkpoints/game extraction-checkpoint.ipynb
.ipynb_checkpoints/learning-the-rules-checkpoint.ipynb
.spyproject/codestyle.ini
.spyproject/encoding.ini
.spyproject/vcs.ini
.spyproject/workspace.ini
*.p
.ipynb_checkpoints/initial modeling-checkpoint.ipynb
.ipynb_checkpoints/Generating Data-checkpoint.ipynb
data/A00-139_first_100.npz
data/A00-139_first_1000.npz
first_1000_games.npz
data/A00-139_first_100000.npz
data/A00-139_first_10000.npz
